@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: rgb(16, 7, 77);
}

section.flex-container {
    display: flex;
    /*flex: 1;*/
    flex-flow: row wrap!important;
    justify-content: center;
    /* border: 2px solid white; */
}

.flex-items {
    display: flex;
    /*flex: 1;*/
}

.items-01 {
    display: flex;
    background: #fdfdfd;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 5rem;
    justify-content: center;
    padding: 3rem;
}

h1 {
    text-align: center;
}

form {
    padding: 2.0rem;
}


/*input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1.3rem;
    display: block;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 0 rgb(16, 7, 77);
    border-radius: 0.2rem;
    font-size: 1.5rem;
}*/

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.5rem
}


/* input[type="email"]:before {
    content: '/f0e0';
} */

button {
    background: rgb(23, 48, 129);
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    color: #FFF;
    margin: 1.3rem 0 !important;
}

button:hover {
    background: #ffffff;
    transition: background .8s ease-in-out;
    -webkit-transition: background .8s ease-in-out;
    color: rgb(3, 109, 248);
    line-height: 2.5rem;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.items-02 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 3rem;
    background: #203060 center no-repeat;
    font-size: 1.5rem;
}

.intro {
    margin-left: 24%;
    color: #ffffff;
    font-size: 15px;
    text-align: justify;
    font-weight: normal;
}

span {
    border: 2px solid #F6F6F6;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    /*padding: 6px 4% 6px 4%;*/
    padding: 6px;
}

h1 span {
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    width: 300px;
}

h6 {
    font-size: 15px;
    font-weight: normal;
    margin-left: 17%;
    margin-top: 30px;
}

::-webkit-input-placeholder {
    color: #c1c1c1;
    font-size: 18px;
}


/* MOBILE RESPONSIVENESS */

@media (max-width:720px) {
    .items-02 {
        display: none;
    }
}